/*ABOUT US PAGE*/
.about-us-page {
  font-family: 'Poppins', sans-serif;
}
.about-us-page .page-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.about-us-page .home-content-dark {
  max-width: 1000px; 
  margin: 40px auto; 
  padding: 0;
}

.vision-timeline {
  position: relative;
  width: 100%;
  margin: 50px 0;
  overflow: auto; 
}
.timeline-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: 200px; 
  width: 8px;
  background-color: #ddd;
}
.vision-box {
  position: relative; 
  background-color: #fff;
  border-radius: 12px;
  padding: 20px 25px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  width: 400px; 
  margin-bottom: 50px; 
  z-index: 2; 
}
.vision-box h3 {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: #333;
}
.vision-box h3 img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  background-color: #E0F2F2;
  border-radius: 50%;
  padding: 5px;
}
.vision-box p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #555;
  margin: 15px 0 0 0;
  line-height: 1.6;
}
.vision-box.box-left {
  float: left;
}
.vision-box.box-right {
  float: right;
}
.vision-box::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 8px;
  background-color: #ddd;
  width: 96px; 
  z-index: 1;
}
.box-left::before {
  right: -96px; 
}
.box-right::before {
  left: -96px; 
}
.vision-box.box-bottom {
  float: none;
  clear: both;
  margin: 50px auto 0; 
  width: 400px;
}
.box-bottom::before {
  width: 8px;
  height: 50px; 
  left: 50%;
  top: -50px; 
  transform: translateX(-50%);
}
.vision-box-1 {
  position: relative; 
  background-color: #fff;
  border-radius: 12px;
  padding: 20px 25px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  width: 400px; 
  margin: 5px;
}
.vision-box-1.box-left {
  float: left;
}
.vision-box-1 h3 {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: #333;
}
.vision-box-1 h3 img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  background-color: #E0F2F2;
  border-radius: 50%;
  padding: 5px;
}
.vision-box-1 p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #555;
  margin: 15px 0 0 0;
  line-height: 1.6;
}
@media (max-width: 768px) {

}